//- page-footer.pug
footer.py-3.border-top.border-secondary-subtle.border-4.bcolor
  p.mb-0.text-secondary © 2023 JavaScript.info
  p.mb-0.text-secondary
    | This project is open-source. You can get its source code and contribute to the project on
    a(href='https://github.com/javascript-tutorial/server') GitHub
    | .
