header.header
  nav.navbar.mb-3.border-bottom.border-secondary-subtle.border-4.bcolor
    .container-fluid
      a.navbar-brand.ms-5(href="../") 
        h3.htitle
          b 知识库
      form.d-flex.mt-1(action="/search", method="get", role="search")
        input.border-2.form-control.me-2(type="search", name="keyword", placeholder="Search...",aria-label="Search")
        button.border-2.btn.btn-outline-success.me-2(type="submit") 
          span(class="bi bi-search")
        button.border-2.btn.btn-outline-success.ms-auto.toggle-btn(type="button")
          span(class="bi bi-brightness-high")
